body{
    margin:0;
    padding:0;
    display: block;
}
#chart{
    border: 1px solid #ccc;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.card.setting {
    width: 300px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.card.add {
    width: 300px;
    position: absolute;
    right: 10px;
    top: 10px;
}
